*
{
	margin: 0;
	padding: 0;
}
.menubar {
  overflow: hidden;
  background-color: #FBFBFB;
  position: fixed; 
  top: 0; 
  width: 100%;

}

.menubar a {
  float: right;
  display: block;
  color: #555;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  font-family:arial;
 
}

.menubar a:hover {
  background: #555;
  color: black;
}
body{
	margin: 0;
	padding: 0;
	background-image: url("back2.jpg");
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
}
.loginbox
{
	border-radius: 5px;
    border: 1px;
	background:  #dcdcdc;
    padding: 10px;
    width: 360px;
	height: 350px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);	
  
}  
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: 140px;
} 
h1
{
	margin: 0;
	padding:0 0 20px;
	text-align: center;
	font-size: 30px;
} 
.loginbox p{
	margin: 0;
	padding: 0;
	font-size: 17px;
	color: #555555;
	font-weight: 550;
}
.loginbox input{
	width: 98%;
	margin-bottom: 20px;
}
.loginbox input[type="text"] {
	border: none;
	border-bottom: 1.0px solid #696969;
	background: transparent;
	outline: none;
	height: 37px;
	color: black;
	font-size: 15px;
	width: 340px;
}	
.loginbox input[type="password"] {
	border: none;
	border-bottom: 1.0px solid #696969;
	background: transparent;
	outline: none;
	height: 37px;
	color: black;
	font-size: 15px;
	width: 340px;
}	
::placeholder{
	color: gray;
	font-style: italic;
}

.loginbox input[value="LOGIN"]{
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #696969;
  border: none;
  box-shadow: 0 2px #999;
  border-radius: 20px;
  width: 80px;
  font-weight: bold;
}

.loginbox input[value="LOGIN"]:hover {background-color: #808080}

.loginbox input[value="LOGIN"]::active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  width: 80px;
}
		
	
.loginbox a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	line-height: 25px;
	color: #555555;
	font-weight: bold;
	font-size : 15px;
}
.loginbox a:hover{
	color: red;
}
.eye
{
	position: absolute;
}
#hide1
{
	display: none;
}